.writeReport {
    flex: 4;
    margin: 20px;
    border-width: 40px;
}

.writeReportTitle {
  margin: 5px;
}

.writeReportForm {
  flex-wrap: wrap;
}

.writeReportFormItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.writeReportFormItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.writeReportFormItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.writeReportFormItem > textarea {
  height: 256px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.writeReportFormButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    align-self: center;
}