.main{
    display: flex;
    border: 10px solid #060505;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.divLogin{
    width:250px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 10vh;
    margin-bottom: 70px;
    background-color: white;
} 

.loginTitle{
    padding-top: 100px;
    align-self: center;
}

.divLoginLogo{
    height: 150px;
    width: 150px;
    align-self: center;
}

.loginIcon{
    font-size: 150px !important;
}

input{
    width: 95%;
    height: 20px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

button{
    width: 100%;
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}

footerText{
    position: absolute;
    bottom: 0;
}
