.newCamera {
  flex: 4;
}

.addCameraForm {
  margin-top: 10px;
}

.addCameraItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addCameraItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addCameraItem > input {
  padding: 10px;
}

.addCameraItem > select {
  padding: 10px;
}

.addCameraButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
